{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="text-align: center; padding: 3rem 0;">
  <video width="500" height="380" class="center" autoplay loop muted>
    <source src="{% static 'Hello.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="form-style">
    <a href="{% url 'animation' %}" style="text-decoration: none;">
      <button class="button" type="button">Get Started</button>
    </a>
  </div>
</div>
{% endblock %}
